@media (max-width: 768px) {
    /* Navigation */
    .nav__home-text,
    .nav__campus--desktop,
    .nav__online--desktop,
    .nav__companies--desktop,
    .nav__sign-in--desktop {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    .nav__home {
        flex: inherit;
    }
    /* End of Navigation */

    /* Hero */
    .hero {
        padding: 0;
        background: #d8d8d8;
    
        display: flex;
        flex-flow: column nowrap;
        /* justify-content: flex-end; */
        align-items: inherit;
        gap: 0px;
    }

    .hero__image {
        width: 100%;
        flex: 1 0 auto;
        object-fit: cover;
    }

    .hero__callout {
        padding: 32px 16px;
    }

    .callout__title {
        font-size: 2em;
    }

    .callout__subtitle {
        font-size: 1.2em;

    }

    .callout_button {
        background: #9b9b9b;
    }
    /* End of Hero */
   
    /* Information */
    .information__main {
        display: none;
    }

    .information__news {
        padding: 16px 16px 32px 16px;
    
    }

    .info-news__container {
        padding: 0;
        border: none;

        flex-flow: column nowrap;
    }

    .info-news__container:nth-child(2),
    .info-news__container:last-child {
        padding-top: 32px;
    }

    .info-news-container__image--desktop {
        display: none;
    }

    .info-news-container__image--mobile {
        width: 100%;
    }

    .info-news-container__text-wrapper {
        padding: 32px 16px 0px 16px;
    }
    /* End of Information */

    /* Course */
    .course-container__image,
    .course-container__courses,
    .course-container__details {
        display: none;
    }

    .course {
        background: #f5f4f5;
        border-top: 1px solid #e9eaea;
        border-bottom: 1px solid #e9eaea;
    }

    .course__title {
        font-size: 1.8em;
        color: #4a4a4a;
        text-align: center;
        padding-bottom: 16px;
    }

    .course__container--first,
    .course__container--second {
        flex-flow: column nowrap;
        justify-content: flex-start;
        gap: 8px;
    }

    .course__container--first {
        padding: 0 16px 0 16px;
    }

    .course__container--second {
        padding: 8px 16px 32px 16px;
    }

    .course-container__item {
        background: #d8d8d8;
        width: 100%;
    }

    .course-container__title {
        padding: 16px 0 16px 16px;
        color: #4a4a4a;
    }
    /* End of Course */

    /* Thesis */
    .thesis-container-main__title,
    .thesis-container-main__text,
    .thesis-container__side {
        display: none;
    }

    .thesis__title {
        font-size: 1.8em;
        color: #4a4a4a;
        text-align: center;
        padding-bottom: 16px;
    }

    .thesis__container {
        padding: 0;
    }

    .thesis-container__main {
        width: 100%;
    }

    .thesis-container-main__video {
        width: 100%;
    }
    /* End of Thesis */

    /* Footer */
    .footer__term,
    .footer__privacy {
        display: none;
    }
    /*End of Footer*/
}
