@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
    padding: 16px 24px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.nav__home {
    flex: 1 0 auto;
}

.nav__home-logo {
    height: 32px;
    vertical-align: middle;
}

.nav__home-text {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: #9b9b9b;
}

.nav__home-text--accent {
    font-weight: bold;
    color: #4a4a4a;
}

.nav__campus--desktop,
.nav__online--desktop,
.nav__companies--desktop,
.nav__sign-in--desktop {
    color: #4a4a4a;
}
/* End of Navigation */

/* Hero */
.hero {
    padding: 32px 24px;
    background: #d8d8d8;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.hero__image {
    width: calc(60vw - 48px);
    flex: 1 0 auto;
    object-fit: cover;
}

.callout__title {
    font-size: 3em;
    color: #4a4a4a;
}

.callout__subtitle {
    font-size: 1.6em;
    margin: 32px 0 24px 0;
    color: #4a4a4a;
}

.callout_button {
    background: #4a4a4a;
    color: white;
    text-align: center; 
    padding-top: 8px;
    padding-bottom: 8px;
}
/* End of Hero */

/* Information */
.information {
    background: #f3f5f5;

    display: flex;
}

    /* Left Box */
.information__main {
    padding: 32px 24px;

    display: flex;
    flex-flow: column nowrap;
}

.info-main__image {
    width: calc(60vw - 48px);
    object-fit: cover;
}

.info-main__title {
    width: calc(60vw - 48px);
    padding-top: 32px;
    
    font-size: 1.8em;
    color: #4a4a4a;
}

.info-main__text {
    width: calc(60vw - 48px);
    padding: 24px 0;

    color: #4a4a4a;
}

.info-main__name {
    color: #4a4a4a;
    font-weight: 500;
}

    /* Right Box*/
.information__news {
    padding: 32px 0;
    border: 1px solid #e0e2e2;

    display: flex;
    flex-flow: column nowrap;

    flex: 1 0 calc(40vw - 48px);
}

.info-news__container {
    padding: 16px;
    border: 1px solid #e0e2e2;

    display: flex;
    flex-flow: row nowrap;
}

.info-news__container:first-child {
    padding-top: 0;
    border-top: none;
}

.info-news__container:last-child {
    border-bottom: none;
}

.info-news-container__image--desktop {
    width: 35%;
    height: auto;
    padding-right: 16px;
}

.info-news-container__text-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.info-news-container__title {
    color: #4a4a4a;
}

.info-news-container__text {
    margin: 8px 0;
    color: #4a4a4a;
}

.info-news-container__read-more a {
    text-decoration: 0;
}

.info-news-container__read-more a:any-link {
    color: #4a90e2;
}
/* End of Information */

/* Course */
.course {
    background: #eaebec;
}

.course__title {
    font-size: 1.8em;
    color: #4a4a4a;
    text-align: center;
    padding: 32px 0;
}

.course__container--first,
.course__container--second {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 32px;
}

.course__container--first {
    padding: 0 72px 0 72px;
}

.course__container--second {
    padding: 32px 72px 32px 72px;
}

.course-container__item {
    background: white;
    width: 30%;
}

.course-container__image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.course-container__title {
    padding: 16px 16px 0px 16px;
    color: #4a4a4a;
}

.course-container__courses {
    padding: 8px 16px;
    color: #767676;
}

.course-container__details {
    padding: 0 16px 24px 16px;
    color: #767676;
}

/* End of Course */

/* Footer */
footer {
    padding: 16px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: flex-end;
    gap: 16px;

    font-size: 0.8em;
}

.footer__copyright {
    flex: 1 0 auto;
}

footer a,
footer a:any-link {
    text-decoration: none;
    color: black; /* to be edited */
}
/* End of Footer */
