@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
    padding: 16px 24px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.nav__home {
    flex: 1 0 auto;
}

.nav__home-logo {
    height: 32px;
    vertical-align: middle;
}

.nav__home-text {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    color: #9b9b9b;
}

.nav__home-text--accent {
    font-weight: bold;
    color: #4a4a4a;
}

.nav__campus--desktop,
.nav__online--desktop,
.nav__companies--desktop,
.nav__sign-in--desktop {
    color: #4a4a4a;
}

/* Hero */
.hero {
    padding: 32px 24px;
    background: #d8d8d8;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.hero__image {
    width: calc(60% - 72px);
    flex: 1 0 auto;
}

.callout__title {
    font-size: 3em;
}

.callout__subtitle {
    font-size: 1.6em;
    margin: 16px 0;
}

.callout_button {
    background: #4a4a4a;
    color: white;
    /* height: calc(1em + 16px); */
    text-align: center; 
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Footer */
footer {
    padding: 16px 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: flex-end;
    gap: 16px;

    font-size: 0.8em;
}

.footer__copyright {
    flex: 1 0 auto;
}

footer a,
footer a:any-link {
    text-decoration: none;
    color: black; /* to be edited */
}